.container
  .icon
    .icon--outer
      .icon--inner
        .eye-left.eye
          .eye-left--inner.eye--inner
            .eye-left__eyeball.eyeball
        .eye-right.eye
          .eye-right--inner.eye--inner
            .eye-left__eyeball.eyeball
        .mouth--outer
          .mouth--inner
            %ul.teeth--outer
              - 3.times do
                %li.teeth--inner
    .badge
      %span 6
  