.container.p2.center
  %h1 Calendar
  %div.clock.p2.mx-auto
    .outer.p2
      .handle.mx-auto.mb2
      .shadow
      .inner 
        %span.date.date1 31
        .inner-shadow
        %span.date.date2 31
        
      

    
  
  